@tailwind base;
@tailwind components;
@tailwind utilities;


*, :after, :before {
    box-sizing: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.title {
  box-sizing: border-box;
  color: rgb(33, 33, 38);
  margin: 0;
  font-weight: 700;
  font-size: 1.0625rem;
  line-height: 1.41176;
  unicode-bidi: isolate;
}

.subtitle {
    box-sizing: border-box;
    margin: 0px;
    font-size: 0.8125rem;
    font-family: inherit;
    letter-spacing: normal;
    font-weight: 400;
    line-height: 1.38462;
    color: rgb(116, 118, 134);
    overflow-wrap: break-word;
}

.label {
    color: rgb(33, 33, 38);
    font-weight: 500;
    font-size: 0.8125rem;
    line-height: 1.38462;
}
